alias ls='ls -F --color=auto --show-control-chars'
alias ll='ls -l -h'
alias df="df -h"
alias lt='ls --human-readable --size -1 -S --classify'
alias count_files='find . -type f | wc -l'
alias gc="git checkout"
alias tree="ls -R | grep ":$" | sed -e 's/:$//' -e 's/[^-][^\/]*\//--/g' -e 's/^/   /' -e 's/-/|/'"
alias pr="cd ~/Documents/Projects"
alias gitmail='git config user.email "kopkayan@outlook.cz"'




alias deploy-test="./build.sh --build --skip-tests --push --deploy"
alias localdev="cd /c/Users/janxh/Documents/Projects/ydealapp/ydealapp-localdev && ./run_honza.sh"
alias frontend="cd /c/Users/janxh/Documents/Projects/ydealapp/ydealapp-cloud/frontend && npm run dev"
alias pg_dump_ydealapp='pg_dump -U postgres -n ydealapp > ydealapp_$(date +"%Y-%m-%d").sql'

alias bonu-front="cd /c/Users/janxh/Documents/Projects/sites/bonu/apps/front && npm run dev"
alias bonu-admin="cd /c/Users/janxh/Documents/Projects/sites/bonu/apps/admin && npm run dev"

alias eslint-unused="npx eslint . --rule "@typescript-eslint/no-unused-vars:error" -f stylish | awk '/@typescript-eslint\/no-unused-vars/ { print "\033[33m" prev "\033[0m"; print $0 } { prev = $0 }'"